{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
	Login Page
{% endblock %}

{% block head %}  {#On the head atribute we add the included CSS#}
	{{super()}}
	<style>
		body {
			background-color:yellow;
		}
	</style>
{% endblock %}

{% block body %}
	<body>
        <div class="container">
		<h1>Login</h1>
        <form method="POST" action=" {{ url_for('login') }}" novalidate>
			{{ form.csrf_token }}
			{{ wtf.quick_form(form, novalidate=True) }}
<!--			<p>-->
<!--				{{ form.email.label }} <br> {{ form.email(size=30) }}-->
<!--				{% if form.email.errors: %}-->
<!--					{% for err in form.email.errors: %}-->
<!--					<span style="color:red">{{ err }}</span>-->
<!--					{% endfor %}-->
<!--				{% endif %}-->
<!--			</p>-->
<!--			<p>-->
<!--				{{ form.password.label }} <br> {{form.password }}-->
<!--				{% if form.password.errors: %}-->
<!--					{% for err in form.password.errors: %}-->
<!--						<span style="color:red">{{ err }}</span>-->
<!--					{% endfor %}-->
<!--				{% endif %}-->
<!--			</p>-->
<!--			<p>-->
<!--				{{ form.submit }}-->
<!--			</p>-->
		</form>
        </div>
	</body>
{% endblock %}