
body{
    margin: 0;
}

h1 {
    margin-top:0;
}


div {
    background-color: #678983;
}

.top-container {
    background-color: #678983;

}

.middle-container {

}

.bottom-container {

}

.underlined {
    text-decoration: underline;
}