<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
        {% if empty_list_of_books: %}
            <p>Library is empty.</p>
        {% else: %}
            <ul>
                {% for book in all_books: %}
                    <li>{{book.title}} - {{book.author}} - {{book.rating}}/10 <a href="{{url_for('change_rating', id=book.id)}}">Edit Rating</a></li>
                {% endfor %}
            </ul>
        {% endif %}

<a href="">Add New Book</a>
</body>
</html>